* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  overflow: hidden;
}

#carouselSlidesOnly {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

#carouselSlidesOnly img {
  height: 600px;
  object-fit: cover;
  filter: brightness(40%);
}

.navbar-container {
  max-width: 1440px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navbar-custom {
  transition: all 0.3s ease-in-out;
  position: absolute !important;
  background: transparent;
  z-index: 1000;
  width: 100%;
}

.navbar-toggle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed !important;
  background-color: #ffc107 !important;
}

.nav-item-wrapper {
  justify-content: flex-end;
}

.nav-item-wrapper .navbar-nav a {
  color: white !important;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem !important;
  font-size: 15px;
}

.nav-item-wrapper .navbar-nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
  border-radius: 20px;
}

.caption-for-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
  width: fit-content;
  max-width: 450px;
  height: fit-content;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  letter-spacing: 4px !important;
  transition: all 0.5s ease-in-out;
}

.caption-for-carousel:hover {
  border: 1px solid #ffc107;
  color: #ffc107;
}

.content-container {
  width: 100%;
  padding: 0px 150px 100px 150px;
  max-width: 1440px;
  margin: 0 auto;
}

.content-caption {
  padding: 20px 15px 30px;
  text-align: center;
}

.content-caption .small-caption {
  display: inline-block;
  font-size: 12px;
  color: #ffc107;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.content-caption h6,
.company-info h6 {
  font-size: 17px;
  font-weight: bold;
}

.company-info {
  margin-top: 20px;
  margin-bottom: 80px;
}

.company-info ul {
  list-style-type: none;
  padding: 10px 15px;
}

.company-info ul li span {
  margin-left: 5px;
  font-weight: bold;
}

.company-info ul li p {
  margin-left: 25px;
  word-wrap: break-word;
  color: rgb(87, 87, 87);
}

.company-info .company-images {
  width: 100%;
}

.mobile-view {
  display: none;
}

form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 15px;
  background-color: #ffc107;
}

form h6 {
  padding: 15px 10px;
  margin: 0;
  color: white;
}

form .contact-form-box {
  border-radius: 15px 15px 10px 10px;
  background-color: white;
  padding: 20px;
}

.contact-form-box .input-section {
  margin-bottom: 10px;
}

.contact-form-box .input-section label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
}

.contact-form-box .input-section input,
.contact-form-box .input-section select {
  padding-left: 0 !important;
  border: none;
  border-bottom: 1px solid rgb(87, 87, 87);
  transition: all 0.3s ease;
}

.contact-form-box .input-section input:focus,
.contact-form-box .input-section select:focus {
  outline: none;
  border-bottom: 1px solid #ffc107;
}

.contact-form-box .input-section textarea {
  min-height: 100px;
  max-height: 200px;
  border-radius: 3px;
  border: 1px solid rgb(87, 87, 87);
  transition: all 0.3s ease;
}

.contact-form-box .input-section textarea:focus {
  outline: none;
  border: 1px solid #ffc107;
}

.contact-form-box .input-section input,
.contact-form-box .input-section textarea,
.contact-form-box .input-section select {
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

form .email-agreement {
  font-size: 10px;
  font-style: italic;
}

form .submit-btn {
  width: 100% !important;
  background-color: #ffc107 !important;
  color: white !important;
  transition: all 0.3s ease;
}

form .submit-btn:hover {
  background-color: #ffae17 !important;
}

.follow-info-box {
  text-align: center;
  margin-bottom: 0 !important;
}

.follow-info-box h4 {
  font-weight: bold;
  margin-bottom: 25px;
}

.follow-info-box .sosmed-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.follow-info-box .sosmed-section i {
  font-size: 30px;
}

.follow-info-box .sosmed-section a {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

footer {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: black;
  border-top: 5px solid #ffc107;
  box-shadow: 8px 8px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 7px;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .content-container {
    padding: 0 50px 100px;
    padding-top: 0 !important;
  }

  .company-info {
    margin-bottom: 20px;
  }

  .company-info ul {
    padding: 10px;
  }

  .form-info-section .form-box {
    margin-bottom: 50px;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-custom {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .navbar-custom i {
    color: white !important;
  }

  .navbar-toggler:focus {
    outline: none;
    border: 1px solid white !important;
  }

  .nav-item-wrapper .navbar-nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px !important;
  }

  .nav-item-wrapper .navbar-nav a:hover {
    background-color: unset;
    border-radius: unset;
  }

  #carouselSlidesOnly img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .caption-for-carousel {
    max-width: 80%;
  }

  .content-container {
    padding: 30px 20px 50px;
  }
}
/* for galaxy fold and etc */
@media only screen and (max-width: 350px) {
  .navbar-brand span {
    display: none !important;
  }
}
