* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  overflow: hidden;
}

.content-container {
  width: 100%;
  padding: 100px 20px;
}

.main-row {
  width: 100%;
  margin: 0 !important;
}

.checkout-main-box {
  height: fit-content;
}

.menu-card-info {
  padding: 15px !important;
}

.menu-card-info,
.menu-card-info .card-title {
  margin: 0;
}

.menu-card-info ul {
  font-size: 14px;
}

.menu-card-info ul li {
  list-style-type: none;
}

.menu-card-info ul li:first-child {
  margin: 3px 0 5px 0;
}

.priceTitle,
.customTitle,
.card-title {
  font-weight: bold;
}

.descForLessThan768px {
  display: none;
}

.card-button-wrap button {
  width: 100%;
  margin: 3px;
  font-size: 12px;
}

.checkout-main-box .checkout-title,
.payment-title {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1.2rem 1.25rem;
}

.cart-menu-container .customTitle {
  margin: 5px 0 !important;
  display: inline-block;
}

.cart-menu-container hr {
  margin-bottom: 5px;
  margin-top: 10px;
}

.menu-card-at-cart-box {
  width: 100%;
  display: flex;
  flex-direction: row !important;
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fadeOutAnimation {
  animation: fadeOut 0.8s ease-in-out;
}

@keyframes fadeOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.menu-card-info-for-cart .customTitle {
  font-size: 16px;
  margin: 0 !important;
}

.menu-card-at-cart-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px 0 5px 5px;
  pointer-events: none;
}

.menu-card-at-cart-box .menu-card-info-for-cart {
  padding: 5px 5px 5px 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.menu-card-info-for-cart ul {
  margin: 0;
  font-size: 15px;
  list-style-type: none;
}

.counter-cntrl-btn button {
  width: 40px;
  height: auto;
}

.delete-btn {
  width: 50px;
  height: 100%;
  color: #bdc3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-btn i {
  pointer-events: none;
}

.delete-btn:hover {
  color: white;
  background-color: #e74c3c;
}

@media only screen and (min-width: 1200px) {
  .card-button-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .card-button-wrap button {
    width: 91px;
  }
}

@media only screen and (max-width: 767px) {
  .content-container {
    padding: 100px 0px;
  }

  .menu-main-box {
    padding: 5px !important;
  }

  .menu-card-box {
    display: flex;
    flex-direction: row !important;
  }

  .menu-card-box img {
    width: 50%;
    object-fit: contain;
    max-width: 150px;
    pointer-events: none;
  }

  .menu-card-info {
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
  }

  .menu-card-info,
  .menu-card-info .card-title {
    font-size: 15px;
  }

  .menu-card-info ul {
    font-size: 12px;
    margin: 0;
  }

  .priceTitle {
    display: none;
  }

  .descForMoreThan768px {
    display: none;
  }

  .descForLessThan768px {
    display: block;
  }

  .card-button-wrap {
    display: none !important;
  }
}

/* for galaxy fold and etc */
@media only screen and (max-width: 350px) {
  .menu-card-box img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
  }
}
